<head>
	<title>Ajouter un bot | discordbot.takohell.com</title>
	<% include ./partials/head %>
	<script type="text/javascript" src="/js/codemirror.js"></script>
	<script type="text/javascript" src="/js/xml.js"></script>
	<script type="text/javascript" src="/js/javascript.js"></script>
	<script type="text/javascript" src="/js/css.js"></script>
	<script type="text/javascript" src="/js/htmlmixed.js"></script>
	<script type="text/javascript" src="/js/show-hint.js"></script>
	<script type="text/javascript" src="/js/xml-hint.js"></script>
	<script src="/js/html-hint.js" type="text/javascript" charset="utf-8" async defer></script>
	<link rel="stylesheet" type="text/css" href="/css/default/codemirror.css">
	<link rel="stylesheet" type="text/css" href="/css/default/midnight.css">
	<style>
	.CodeMirror {
	height: auto;
	}
	</style>
</head>
<body>
	<% include ./partials/header %>
	<div class="<%= theme == 1 ? 'presentation-dark' : 'presentation-light'%>">
		<div style="background-image: url(../../img/patternmid.png)">
			<div class="container">
			<h1 class="title-center-body code <%= theme == 1 ? 'dark' : 'light'%>"> Ajouter un bot sur discordbot.fr</h1></p>
		</div>
		<div class="container" style="padding-top: 50px">
			<div class="row">
				<div class="col-12 <%= theme == 1 ? 'dark' : 'light'%>">
					<p> Les champs n'ayant pas de (Optionnel) sont obligatoires. Les champs optionnels seront automatiquement remplis avec leurs valeurs par défaut.</p>
				</div>
				<article class="message is-primary" style="<%= theme == 1 ? 'background-color: #3a3939' : ''%>">
					<div class="message-header">
						<strong>Conditions d'ajout du bot au serveur</strong>!
					</div>
					<div class="message-body">
						Les commandes doivent être explicitement invoqué: Croyez-moi, un bot qui répond a n'importe quel phrase random a 5% de chance de survie<br>
						Le prefix doit être unique/ou customizable: Utilisez ! comme prefix n'est pas forcément la meilleure idée
						<br>Le bot doit s'ignorer lui-même et les autres bots: Pas de boucle infini par ici merci 👀
						<br>Avoir une documentation quelconque, comme une commande d'aide: Un bot dont personne n'a aucune idée de comment s'en servir n'est franchement pas utile
						<br>Respecter la ToS et l'API Discord, telles que garder le contenu NSFW dans les salons NSFW
						<br>Le bot doit être relativement stable: Un bot hors-ligne 22h/24 n'est pas vraiment intéressant
						<br>
						Ces régles sont discutables pour des cas spéciaux mais doivent sinon être toute respecté
						<br><strong><a href="<%=listinvite%>">Vous devez être sur le discord a fin de valider votre bot vous pouvez le rejoindre ici</a> </strong>
					</div>
				</article>
				<div>
					
				</div>
				<div class="from">
					<form method="post" accept-charset="utf-8">
						
						<div class="form-group">
							<label for="id">ID de l'application</label>
							<input type="text" id=id name="id" maxlength="70" class="form-control" placeholder="Insérer l'ID de l'application (identique à l'ID du client)" required pattern="\d+">
						</div>
						<div class="form-group">
							<label for="name">Nom personnalisé</label>
							<input type="text" id="name" name="name" class="form-control" maxlength="32" placeholder="(Optionel) Insérer le nom">
						</div>
						<div class="form-group">
							<label for="lib">Selectionner une librairie</label>
							<select name="lib" id="library" selected="" required="">
								<option value="" disabled="" >Selectionner une lib</option>
								
								<option value="discordcr">discordcr</option>
								
								<option value="dscord">dscord</option>
								
								<option value="Discord.Net">Discord.Net</option>
								
								<option value="DSharpPlus">DSharpPlus</option>
								
								<option value="Nostrum">Nostrum</option>
								
								<option value="DiscordGo">DiscordGo</option>
								
								<option value="Discord.hs">Discord.hs</option>
								
								<option value="Discord4j">Discord4j</option>
								
								<option value="Javacord">Javacord</option>
								
								<option value="JDA">JDA</option>
								
								<option value="discord.io">discord.io</option>
								
								<option value="discord.js">discord.js</option>
								
								<option value="Discordie">Discordie</option>
								
								<option value="Eris">Eris</option>
								
								<option value="Discordia">Discordia</option>
								
								<option value="DiscordPHP">DiscordPHP</option>
								
								<option value="RestCord">RestCord</option>
								
								<option value="discord.py">discord.py</option>
								
								<option value="discordrb">discordrb</option>
								
								<option value="discord-rs">discord-rs</option>
								
								<option value="serenity">serenity</option>
								
								<option value="SwiftDiscord">SwiftDiscord</option>
								
								<option value="Sword">Sword</option>
								
								<option value="Autre">Autre</option>
							</select>
						</div>
						<div class="form-group">
							<label for="avatar">URL d'avatar personnalisée</label>
							<input type="text" id="avatar" name="avatar" class="form-control" maxlength="2000" placeholder="(Optionnel) https:// - Laisser vide pour utiliser l'invitation de Discord" pattern="https:\\/\\/.+"></div>
							<div class="form-group">
								<label for="invite">URL d'invitation personnalisée <a href="https://discordapi.com/permissions.html" target="_blank">[Permissions Calculator]</a></label>
								<input type="text" id="invite" name="invite" class="form-control" maxlength="2000" placeholder="(Optionnel) http:// ou https:// - Doit redirigé vers https://discordapp.com/">
							</div>
							<div class="form-group">
								<label for="shortDesc">Description courte (description)</label>
							<input type="text" id='shortDesc' name="shortDesc" class="form-control" maxlength="200" placeholder="Insérer une description courte" required></div>
							<div class="form-group">
								<label for="prefix">Prefix</label>
								
								<input type="text" id="prefix" class="form-control" name="prefix" maxlength="200" placeholder="Insérer un prefix" required>
							</div>
							<div class="form-group">
								<label for="owners">Owners</label>
								<input type="text" id="owners" name="owners" class="form-control" maxlength="200" placeholder="Autre Owners (à ajouter si il y en as d'autres que vous)">
							</div>
							<div class="form-group">
								<label for="category"> Catégories</label>
								<select name="category" id="category" required placeholder="Ajouter une catégorie à votre bot">
									<%for (var i=0; i<categories.length; i++) {%>
									<% var val = categories[i]; %>
									<option value="<%=val%>"><%=val%></option>
									<%}%>
									
								</select>
							</div>
							<div class="form-group">
								<label for="website">URL site web (HTTPS seulement) (Optionnel)</label>
								<input type="text" id="website" name="website" class="form-control" maxlength="2000" placeholder="URL site web seulement en HTTPS" pattern="https?:\/\/.+">
							</div>
							<div class="form-group">
								<label for="github">Github / Gitlab (Optionnel)</label>
								<input type="text" id="github" name="github" class="form-control" maxlength="2000" placeholder="Adresse du repo GitHub" pattern="https?:\/\/.+">
							</div>
							<div class="form-group">
								<label for="type">Description longue HTML seulement</label>
								<textarea class="form-control" id="descitype" name="descitype" maxlength="200000" rows="12"></textarea>
								<div id="description" class="form-group"></div>
							</div>
							<br>
							<div class="form-group">
								
								<button class="btn btn-primary" type="submit">Envoyer</button>
								<input type="text" class="hide" name="csrf" value=csrf>
								<input type="number" id="count" name="count" class="hide" value=0>
								<input type="number" id="shard" name="shard" class="hide" value=0>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
<script type="text/javascript">
var test = CodeMirror.fromTextArea(document.getElementById('descitype'),
{
lineNumbers: true,
theme: 'midnight',
mode: {
name: "htmlmixed"
}
});
	test.on("keyup", function (cm, event) {
		if (!cm.state.completionActive &&   /*Enables keyboard navigation in autocomplete list*/
		event.keyCode != 13 &&         /*Enter - do not open autocomplete list just after item has been selected in it*/
		event.keyCode != 16 &&     //not for shift
		event.keyCode != 17 &&     //not for ctrl
		event.keyCode != 18 &&     //not for alt
		event.keyCode != 60 &&     //not for < or >
		event.keyCode != 32 &&     //not for the space key
		event.keyCode != 8 &&      //not for the backspace key
		event.keyCode != 9){       //not for the tab key
		CodeMirror.commands.autocomplete(cm, null, {completeSingle: false});
		}
	});
</script>
<% include ./partials/footer.ejs %>