<head>
	<title>Supprimer un bot | discord.bot.takohell.com</title>
	<% include ./partials/head %>
</head>
<body>
	<% include ./partials/header %>
	<div class="<%= theme == 1 ? 'presentation-dark' : 'presentation-light'%>" style="height: 100%">
		<div style="background-image: url(../../img/patternmid.png); height: 100%">
			<div class="jumbotron">
				<div class="container">
					<p class="lead code">
						Supprimer ou rejeter un bot
					</p>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="from">
							<p> Veuillez selectionner une raison dans la liste. Les raisons qui ne sont pas dans la liste seront votées.</p>
							<form method="POST" class="buddon">
								<select name="reason" id="type" class="form-control" required>
									<option selected disabled required value="">Sélectionner une raison de suppression</option>
									<%for (var i=0; i<reasons.length; i++) {%>
									<% var val = reasons[i]; %>
									<option value="<%=val%>"><%= val%></option>
									<%}%>
								</select>
								<label for="description">Donner des preuves ou une raison supplémentaire</label>
								<textarea name="description" id="description" cols="30" rows="6" class="form-control" maxlength="1000" required></textarea>
								<input type="text" class="hide" name="<%=csrf%>" value="<%=csrf%>">
								<button class="btn btn-success" type="submit">Confirmer</button>
								<a href="/" class="btn btn-danger">Annuler</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ./partials/footer %>